<header>
  <ul>
    <li class=""><a href="/">Home</a></li>
    <li class=""><a href="./work.html">Work</a></li>
    <li class=""><a href="./contact.html">Contact</a></li>
    <li class=""><a href="./contact.html">ejs組み込み</a></li>
  </ul>
</header>
