<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>contacthtml</h1>
      <header>
        <ul>
          <li class=""><a href="./index.html">Home</a></li>
          <li class=""><a href="./work.html">Work</a></li>
          <li class=""><a href="./contact.html">Contact</a></li>
        </ul>
      </header>
    </div>
    <h1>This is index.html</h1>
    <a href="./other.html">otherページへ</a>
    <img src="./images/favicon.svg" alt="" />
    <img src="./images/tools.jpg" alt="" />
    <div class="bg"></div>
    <p>これはテストです！</p>
  </body>
</html>
